<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes" />
    <title>测试图片循环</title>
</head>
<link rel="stylesheet" type="text/css" href="/static/Csapphnu/css/bootstrap.min.css"></link>
<link rel="stylesheet" type="text/css" href="/static/Csapphnu/css/userinfomanagecss.css"></link>
<!--引用jquery的资源js-->
<script type="text/javascript" src="/static/Csapphnu/js/jquery-1.12.4.min.js"></script>
<!--引用Bootstrap-->
<script type="text/javascript" src="/static/Csapphnu/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/Csapphnu/js/userinfomanagejs.js"></script>
<script type="text/javascript" src="/static/Csapphnu/js/slide.js"></script>

<body>
<div  class="container" id="accordion">
	<ul>
	    <li class="bar01"><span>个人信息修改模块</span><img src="/static/Csapphnu/images/001.jpg" id="imgselete1"/></li>
        <li class="bar02"><span>学生课程分组模块</span><img src="/static/Csapphnu/images/002.jpg" id="imgselete2"/></li>
        <li class="bar03"><span>助教信息管理模块</span><img src="/static/Csapphnu/images/003.jpg" id="imgselete3"/></li>
	</ul>
</div>

</body>
</html>