<!DOCTYPE HTML>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="device-width, user-scalable=no,
	initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/MainPage/images/splash/splash-icon.png">
<link rel="apple-touch-startup-image" href="/static/MainPage/images/splash/splash-screen.png" 			media="screen and (max-device-width: 320px)" />  
<link rel="apple-touch-startup-image" href="/static/MainPage/images/splash/splash-screen_402x.png" 		media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" /> 
<link rel="apple-touch-startup-image" sizes="640x1096" href="/static/MainPage/images/splash/splash-screen_403x.png" />
<link rel="apple-touch-startup-image" sizes="1024x748" href="/static/MainPage/images/splash/splash-screen-ipad-landscape" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
<link rel="apple-touch-startup-image" sizes="768x1004" href="/static/MainPage/images/splash/splash-screen-ipad-portrait.png" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
<link rel="apple-touch-startup-image" sizes="1536x2008" href="/static/MainPage/images/splash/splash-screen-ipad-portrait-retina.png"   media="(device-width: 768px)	and (orientation: portrait)	and (-webkit-device-pixel-ratio: 2)"/>
<link rel="apple-touch-startup-image" sizes="1496x2048" href="/static/MainPage/images/splash/splash-screen-ipad-landscape-retina.png"   media="(device-width: 768px)	and (orientation: landscape)	and (-webkit-device-pixel-ratio: 2)"/>

<title>首页</title>

<link href="/static/MainPage/styles/style.css"     		rel="stylesheet" type="text/css">
<link href="/static/MainPage/styles/framework.css" 		rel="stylesheet" type="text/css">
<link href="/static/MainPage/styles/style_btn.css" rel="stylesheet" type="text/css">

<script type="text/javascript" src="/static/MainPage/scripts/jquery.js"></script>
<script type="text/javascript" src="/static/MainPage/scripts/jqueryui.js"></script>
<script type="text/javascript" src="/static/MainPage/scripts/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/MainPage/scripts/jquery.swipebox.js"></script>
<script type="text/javascript" src="/static/MainPage/scripts/colorbox.js"></script>
<script type="text/javascript" src="/static/MainPage/scripts/snap.js"></script>
<script type="text/javascript" src="/static/MainPage/scripts/contact.js"></script>
<script type="text/javascript" src="/static/MainPage/scripts/custom.js"></script>
<script type="text/javascript" src="/static/MainPage/scripts/framework.js"></script>
<script type="text/javascript" src="/static/MainPage/scripts/framework.launcher.js"></script>


</head>
<body style=" xoverflow : hidden;  ">

<div id="preloader">
	<div id="status">
    	<p class="center-text">
			龟速加载中...
            <em>都看到这个了，龟速没毛病!</em>
        </p>
    </div>
</div>

<div class="top-deco"></div>

<div class="landing-page">
	<a class="landing-logo" href="#" >
    	<img src="/static/MainPage/images/logo.png" alt="img" >
    </a>
    
    <div class="decoration"></div>
      
	<div class="float-center">
	    <div class="landing-navigation float-center-child">
	    	<a href="#" title="这是老师发布作业和检查作业，学生提交作业的模块">
	        	<span class="btn1 btn-radius mainlink">作业管理</span>
	        </a>
	    	<a href="#"title="这是助教和老师在讨论课和实验课打分的模块">
	        	<span class="btn1 btn-radius mainlink">平时成绩</span>
	        </a>
	    	<a href="/ClassSchedule/" title="这是助教和老师发布课程通知，学生查看课表和通知的模块">
	        	<span class="btn1 btn-radius mainlink">课程信息</span>
	        </a>
	    	<a href="/userinfomanage/" title="这是所有用户查看自己信息的模块">
	        	<span class="btn1 btn-radius mainlink">个人信息</span>
	        </a>
	    	<a href="/index/test" title="这是根据平时成绩记录直接计算期末成绩的模块">
	        	<span class="btn1 btn-radius mainlink">成绩评定</span>
	        </a>
	    	<a href="/systemmanagement/csappstudentmanage/" title="这是管理员和老师用的后门">
	        	<span class="btn1 btn-radius mainlink">管理员</span>
	        </a>
	        <div class="clear"></div>
	        <div class="landing-navigation-tablet-bottom-adjustment"></div> 
	    </div>
    </div>
  
    <div class="decoration"></div>
    
    <div class="footer">
    
    	<div class="socials">
            <a href="https://pt.hnu.edu.cn/zfca/login"  target="blank"   title="这是湖大校内个人信息门户的友情链接">
            	<span class="btn1 btn-radius-small mainlink">H</span>
            </a>
            <a href="http://kczx.hnu.cn/G2S/ShowSystem/Index.aspx"  target="blank"  title="这是课程中心的友情链接">
            	<span class="btn1 btn-radius-small mainlink">N</span>
            </a>
            <a href="/index/logout" title="用户登出">
            	<span class="btn1 btn-radius-small mainlink">U</span>
            </a>
        </div>
        <div class="clear"></div>
        <p class="copyright">
        	COPYRIGHT 2017<br>
            HNU.LAB
        </p>
        
    </div>  
</div>

<div style="height:28px;"></div>
<div class="bottom-deco"></div>


</body>
</html>